.result-container{
    display: flex;
    flex-direction: column;
    overflow: scroll;
    z-index: 10;
    position: absolute;
    top: 80px;
    backdrop-filter: blur(10px);
    scrollbar-width: none;
    border-radius: 15px;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.9);
}


.results-list {
    width: 30vw;
    max-height: 250px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    background-color: rgba(0, 0, 0, 0.87);
    color: #fff;
    overflow-y: auto;
    transition: all 0.5s ease-in-out;
    overscroll-behavior: contain;
}

.result-item {
    padding: 10px;
    display: flex;
    align-items: center;
    cursor: pointer;
    border-radius: 10px;
    transition: all 0.3s ease;
}

.result-item .pos{
    width: 60px;
    height: 80px;
    background-size: cover;
}

.result-item .title{
    font-size: 1.2rem;
    font-weight: bold;
    margin-left: 20px;
}

.result-item:hover {
    color: #36e5ebcc;
    border-radius: 10px;
    background-color: #353535;
}

.theatre-result {
    padding: 10px;
    display: flex;
    align-items: center;
    cursor: pointer;
    border-radius: 10px;
    transition: all 0.3s ease;
    scroll-behavior: contain;
}

.theatre-result .pos{
    width: 60px;
    height: 60px;
    background-size: cover;
}

.theatre-result .title{
    font-size: 1.2rem;
    font-weight: bold;
    margin-left: 20px;
}

.theatre-result .location{
    font-size: 0.9rem;
    font-weight: bold;
    margin-top: 5px;
    margin-left: 20px;
}


.theatre-result:hover {
    color: #36e5ebcc;
    border-radius: 10px;
    background-color: #353535;
}

 .Theatre {
    font-size: 1.5rem;
    font-weight: bold;
    color: #36e5ebcc;
    padding-top: 10px;
    padding-left: 20px;
    background-color: rgba(0, 0, 0, 0.87);
}

.Theatre.hidden {
    display: none;
}

 .movie {
    font-size: 1.5rem;
    font-weight: bold;
    color: #36e5ebcc;
    padding-top: 10px;
    padding-left: 20px;
    background-color: rgba(0, 0, 0, 0.87);
}

.movie.hidden {
    display: none;
}

.text{
    height: 50px;
    position: relative;
    display: flex;
}

.results-list.hidden {
    display: none;
}

.results-list::-webkit-scrollbar {
    display: none;
}

@media (max-width: 1375px) {
    .results-list {
        top: 120%;
        width: 95vw;
    }
}

@media (max-width: 750px) {
    .results-list {
        width: 90vw;
    }
}

@media (max-width: 550px) {
    .results-list {
        width: 85vw;
    }
}

@media (max-width: 430px) {
    .results-list .title {
        font-size: 0.85rem;
        margin-left: 10px;
    }
}