.drop-btn {
    border: 2px solid rgba(0, 0, 0, 0.6);
    border-radius: 15px;
    padding: 10px;
    display: flex;
    align-items: center;
    gap: 10px;
    transition: all 0.3s ease-in-out;
    cursor: pointer;
}


.drop-btn:hover {
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.342);
}

.drop-down {
    margin-top: 20px;
    display: flex;
    z-index: 10;
    position: absolute;
    top: 100px;
    visibility: visible;
    transition: all .3s ease-in-out;
    opacity: 1;
    min-width: 100%;
    width: 400px;
    height: 300px;
    border-radius: 15px;
    border: 2px solid rgba(121, 121, 121, 0.315);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.342);
}

.drop-down.hidden {
    visibility: hidden;
    transition: all .3s ease-in-out;
    opacity: 0;
    transform: translateY(-5%);
    transition: transform 150ms ease-in-out, opacity 100ms ease-in-out;
}

.dropdown-wrapper {
  position: relative;
  z-index: 1; /* optional, but good for clarity */
}