.register-header {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(245, 245, 245, 0.274);
    height: 75px;
    z-index: 1;
    width: 100vw;
    position: fixed;
    padding-right: 90px;
}

.register-header .container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    max-width: 1200px;
    padding: 0 20px;
    margin-top: -20px;
    translate: -140%;
}

.register-header .logo {
    width: 35px;
    height: 35px;
    margin-right: 10px;
}

.register-header .title {
    font-size: 5.4rem;
    font-weight: 700;
    color: #111;
}