.add-screens-wrapper .sidebar-wrapper {
    position: relative;
    overflow: hidden;
}

.add-screens-wrapper .sidebar-wrapper .sidebar {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
}

.add-screens-wrapper {
    display: flex;
    justify-content: center;
}

.add-screens {
    padding: 10px;
    display: flex;
    flex-direction: column;
    gap: 25px;
    align-items: center;
    width: calc(100vw - 300px);
}

.my-screens {
    display: flex;
    flex-direction: column;
    background-color: white;
    border-radius: 12px;
    padding: 25px;
    gap: 10px;
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.15);
    width: 50vw;
}

.my-screens p {
    font-size: 1.25rem;
    cursor: pointer;
}

.add-class {
    display: flex;
    gap: 10px;
}

.add-class input {
    width: 60%;
    border-radius: 15px;
    border: 2px solid;
    padding: 5px 10px;
    font-size: 1.05rem;
}

.add-class input:focus{
    border: none;
}

.add-class button {
    width: 60%;
}

.hidden {
    visibility: collapse;
    opacity: 0;
}

.my-screen {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.add-screens button {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    border-radius: 25px;
    padding: 10px 15px;
    border: none;
    outline: none;
    font-size: 1.25rem;
    background-color: #377884;
}

table {
    border-spacing: 15px;
    font-size: 1.25rem;
}

th, td {
    border: 1px solid black;
    border-collapse: collapse;
    border-radius: 10px;
    padding: 10px;
    text-align: center;
}

.add-screens input {
    padding: 5px 10px;
    font-size: 1.25rem;
    
}

.add-screen {
    display: flex;
    gap: 10px;
}

.screen-info{
    visibility: visible;
    opacity: 1;
    transition: all .3s ease-in-out;
}

.screen-info table {
    width: 100%;
}

.screen-info input {
    width: 100%;
}

.my-screen-edit {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

@media (max-width: 769px) {
    .add-screens {
        width: 100%;
    }

    .my-screens {
        width: 425px;
    }
}

@media (max-width: 500px) {
    .add-screen {
        flex-direction: column;
    }

    .my-screens {
        width: 300px;
    }
}