.add-shows-wrapper {
    display: flex;
    justify-content: center;
}

.add-shows {
    padding: 10px;
    display: flex;
    flex-direction: column;
    gap: 25px;
    align-items: center;
    width: calc(100vw - 300px);
}

.my-shows p {
    font-size: 1.25rem;
    cursor: pointer;
}

.add-class {
    display: flex;
    gap: 10px;
}

.invisible {
    visibility: collapse;
}

.add-shows button {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    border-radius: 25px;
    padding: 10px 15px;
    border: none;
    outline: none;
    font-size: 1.25rem;
    background-color: #377884;
}

table {
    border-spacing: 25px;
    font-size: 1.25rem;
}

th, td {
    border: 1px solid black;
    border-collapse: collapse;
    border-radius: 10px;
    padding: 10px;
    text-align: center;
}

.add-shows input {
    padding: 5px 10px;
    font-size: 1.25rem;
}

.add-show {
    display: flex;
    gap: 10px;
}

table input {
    border: none;
    background-color: transparent;
}

.movie-search {
    display: flex;
    align-items: center;
    gap: 20px;
}

.cast, .crew {
    display: flex;
    gap: 35px;
}

.admin-movie-preview {
    display: flex;
    flex-direction: column;
}

.shows-language {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 1.25rem;
}

.shows-format {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 1.25rem;
}

.shows-showtime {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 1.25rem;
}

.shows-date {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 1.25rem;
}

.shows-showinfo {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 10px;
}

.loader-container{
    z-index: 10;
    position: absolute;
    backdrop-filter: blur(8px);
    background-color: rgba(255, 255, 255, 0.938);
}

.screen-info input, .shows-showinfo input{
    outline: none;
}

@media (max-width: 769px) {
    .add-shows-wrapper {
        padding: 25px;
    }
}