.book-preview-container {
    display: flex;
    flex-direction: column;
    gap: 25px;
    justify-content: center;
    align-items: center;
    margin-top: 120px;
    height: 100vh;
}

.book-preview {
    width: 75%;
    background-color: white;
    border-radius: 12px;
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.15);
}

.movie-preview {
    display: flex;
    padding: 25px;
    border-bottom: 1px solid black;
    gap: 50px;
    align-items: center;
}

.movie-preview-text {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.movie-preview img {
    height: 250px;
    border-radius: 12px;
}

.preview-timings {
    display: flex;
    gap: 5px;
}

.preview-timings > div {
    border-right: 2px solid black;
    padding-right: 5px;
}

.preview-timings > div:last-child {
    border: none;
}

.preview-tickets {
    display: flex;
    align-items: center;
    gap: 10px;
}

.preview-seating {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.book-preview-data {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 25px;
    gap: 10px;
    border-bottom: 1px solid black;
}

.preview-top {
    display: flex;
    justify-content: space-between;
}

.preview-bottom {
    display: flex;
    justify-content: space-between;
}

.total {
    padding: 25px;
    display: flex;
    justify-content: space-between;
}

.pay button {
    font-size: 1.25rem;
    padding: 15px 25px;
    background-color: #377884;
    border: none;
    outline: none;
    border-radius: 25px;
    cursor: pointer;
}

@media (max-width: 750px) {
    .movie-preview {
        flex-direction: column;
        gap: 25px;
    }

    .total {
        font-size: 1rem;
    }
}