.detailspage-details {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding-left: 25px;
}

.detailspage-details span {
    font-size: 1.3rem;
}

.detailspage-details .cast {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
    gap: 15px;
}

.detailspage-details .crew {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
    gap: 15px;
}


.detailspage-details .display-cards .moviecard{
    transform: scale(0.8);
}

.detailspage-details .display-cards .moviecard-info{
    height: 100px;
}

.detailspage-details .display-cards .moviecard-title {
    font-size: 1.2rem;
    font-weight: bold;
    margin: 0;
}

.detailspage-details .display-cards .moviecard-details {
    color: #ccc;
    margin-top: 4px;
    display: flex;
    flex-direction: column;
    align-items: start;
    margin-bottom: 5px;
    font-weight: 500;
}

.detailspage-details .display-cards  span {
    font-size: 1rem;
}