* {
  margin: 0;
  padding: 0;
  scrollbar-width: none;
  -ms-overflow-style: none;
}

*::-webkit-scrollbar {
  display: none;
}

body {
  background-color: rgb(250, 250, 250);
}

html,
body,
#root {
  height: 100%;
  margin: 0;
}