.layout-wrapper {
    padding-top: 125px;
    background: linear-gradient(to right,
            #1A2980 0%,
            #26D0CE 51%,
            #1A2980 100%);
}

.screen {
    width: 600px;
    padding-bottom: 20px;
}

.row span {
    padding: 10px;
    width: 25px;
    height: 25px;
    border-radius: 5px;
    border: 2px solid #1A2980 ;
    display: flex;
    align-items: center;
    justify-content: center;
    outline: none;
    cursor: pointer;
}

.row span.booked{
    background-color: #6b6354d7;
}

.row span.available{
    background-color: #b3c040d7;
}

.row span.selected{
    background-color: #cf5536d7;
}

.row span.locked{
    background-color: #868686;
}

.row {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
}

.row h2 {
    color: white;
}

.column {
    display: flex;
    flex-direction: column;
    /* gap: 5px; */
}