.layout-wrapper {
    padding-top: 125px;
    background: linear-gradient(to right,
            #1A2980 0%,
            #26D0CE 51%,
            #1A2980 100%);
}

.screen {
    width: 1000px;
    padding: 20px 0px;
}

.row span {
    padding: 10px;
    width: 25px;
    height: 25px;
    border-radius: 5px;
    border: 2px solid #1A2980;
    display: flex;
    align-items: center;
    justify-content: center;
    outline: none;
    cursor: pointer;
}

.row span.Booked {
    background-color: #6b6354d7;
}

.row span.Available {
    background-color: #b3c040d7;
}

.row span.Selected {
    background-color: #cf5536d7;
}

.row span.Locked {
    background-color: #868686;
}

.row {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
}

.row h2 {
    color: white;
}

.column {
    display: flex;
    flex-direction: column;
    /* gap: 5px; */
}

.tooltip {
    position: relative;
    display: inline-block;
}

.tooltip .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: rgba(0, 0, 0, 0.75);
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    top: -45px;
    z-index: 1;
    border: none;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
}

.district-screen {
    display: flex;
    justify-content: center;
    align-items: center;
}

.bottom-bar-container {
    position: relative;
    overflow: hidden;
    height: 100px;
}

.bottom-bar {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    background-color: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(10px);
    color: white;
    padding: 15px 0px;
    position: fixed;
    bottom: 0;
    width: 100vw;
    z-index: 1;
}

.bottom-bar button {
    border: none;
    outline: none;
    font-size: 1.25rem;
    padding: 10px 15px;
    border-radius: 25px;
    background-color: #377884;
    color: white;
    cursor: pointer;
}