.shows {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.show {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: white;
    border-radius: 12px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.35);
    width: 90vw;
}

.show .timings {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.show .timings>div {
    color: green;
    border: 1px solid green;
    border-radius: 10px;
    padding: 10px;
}

.theatre-wrapper {
    margin-top: 90px;
}

.theatre-wrapper .theatre-data-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.theatre-wrapper .theatre-text {
    display: flex;
    flex-direction: column;
    gap: 10px;
    color: white;
    padding: 25px;
    width: calc(90% - 50px);
    background-color: black;
}

.theatre-wrapper .theatre-text svg {
    color: #377884;
}

.theatre-wrapper .theatre-text .theatre-location {
    display: flex;
    align-items: center;
    gap: 10px;
}

.dates {
    display: flex;
    justify-content: start;
    width: 90vw;
    gap: 5px;
    margin: 10px 0px 5px 0px;
}

.dates .date-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #2479db;
    width: 90px;
    height: 90px;
    padding: 15px;
    border: none;
    border-radius: 12px;
    transform: scale(0.9);
}

.dates .date-box .date {
    font-size: 1.5rem;
}

.theatre-wrapper .centre {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.theatre-wrapper .movie-details h4 {
    font-weight: normal;
}

.theatre-wrapper .theatre-data {
    background-image: url('https://assets-in.bmscdn.com/moviesmaster/assets/ambh/001_1740488313965.jpg');
    height: calc(100vh - 90px);
    width: 90vw;
    background-size: cover;
    margin-left: auto;
    margin-right: auto;
    position: relative;
}

@media (max-width: 1375px) {
    .theatre-wrapper {
        margin-top: 140px;
    }

    .theatre-wrapper .theatre-data {
        height: calc(100vh - 140px);
    }
}

@media (max-width: 1050px) {
    .theatre-wrapper .theatre-data {
        height: calc(85vh - 140px);
    }

    .theatre-wrapper .theatre-text .theatre-location {
        gap: 20px;
    }
}

@media (max-width: 870px) {
    .theatre-wrapper .theatre-data {
        height: calc(70vh - 140px);
    }

    .theatre-wrapper .theatre-text {
        padding: 15px;
        width: calc(90vw - 30px);
        margin-left: auto;
        margin-right: auto;
        background-color: rgba(0, 0, 0, 1);
    }

    .theatre-wrapper .theatre-text h1 {
        font-size: 1.75rem;
    }

    .shows {
        gap: 20px;
    }

    .show {
        flex-direction: column;
        height: fit-content;
        padding: 10px;
        align-items: flex-start;
        gap: 15px;
    }
}

@media (max-width: 550px) {
    .theatre-wrapper .theatre-data {
        height: calc(60vh - 140px);
    }

    .theatre-wrapper .theatre-text h1 {
        font-size: 1.5rem;
    }

    .theatre-wrapper .theatre-text .theatre-location {
        font-size: 0.85em;
    }
}

@media (max-width: 400px) {
    .theatre-wrapper .theatre-data {
        height: calc(55vh - 140px);
    }
}