.user-wrapper {
    background: linear-gradient(to right,
            #1A2980 0%,
            #26D0CE 51%,
            #1A2980 100%);
}

.user-container {
    padding-top: 150px;
    display: flex;
    flex-direction: column;
    gap: 35px;
}

.user {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    gap: 50px;
    margin-top: 10px;
}

.user-image {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    background-color: #377884;
    padding: 25px 40px;
    border-radius: 12px;
}

.user-info {
    display: flex;
    flex-direction: column;
    gap: 15px;
    font-size: 1.25rem;
    background-color: #377884;
    padding: 25px 40px;
    border-radius: 12px;
}

.user-info>div {
    display: flex;
    align-items: center;
    gap: 5px
}

.user-container .user-btn {
    display: flex;
    gap: 25px;
    justify-content: center;
    padding-bottom: 15px;
}

.user-container .user-btn a {
    text-decoration: none;
}

.user-container .user-btn button {
    font-size: 1.25rem;
    background-color: #377884;
    border-radius: 12px;
    padding: 15px 20px;
    border: none;
    cursor: pointer;
    transition-duration: 0.1s;
    transition-timing-function: ease-in-out;
    display: flex;
    align-items: center;
    gap: 5px;
}

.user-container .user-btn button:hover {
    background-color: #2f6a75;
    transform: translateY(-10%);
    box-shadow: 0px 0px 15px #377884;
}

.box {
    border: 1px solid black;
    padding: 5px 10px;
    border-radius: 12px;
    background-color: black;
    color: white;
}