.user-container {
    margin-top: 90px;
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.user {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 50px;
    margin-top: 10px;
}

.user-info {
    display: flex;
    flex-direction: column;
    gap: 15px;
    font-size: 1.25rem;
}

.user-info > div {
    display: flex;
    align-items: center;
    gap: 5px
}

.user-container .user-btn {
    display: flex;
    gap: 25px;
    justify-content: center;
}

.user-container .user-btn a {
    text-decoration: none;
}

.user-container .user-btn button {
    font-size: 1.25rem;
    background-color: #377884;
    border-radius: 12px;
    padding: 15px 20px;
    border: none;
    cursor: pointer;
    transition-duration: 0.1s;
    transition-timing-function: ease-in-out;
    display: flex;
    align-items: center;
    gap: 5px;
}

.user-container .user-btn button:hover {
    background-color: #2f6a75;
    transform: translateY(-10%);
    box-shadow: 0px 0px 15px #377884;
}