.drop-btn{
    border: 2px solid rgba(0, 0, 0, 0.6);
    border-radius: 15px;
    padding: 10px;
    display: flex;
    align-items: center;
    gap: 10px;
    transition: all 0.3s ease-in-out;
}


.drop-btn:hover {
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.342);
}

.drop-down{
    visibility: visible;
    transition: all .3s ease-in-out;
}

.drop-down.hidden{
    visibility: hidden;
}