@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@200;300;400;500;600;700&display=swap");

.login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100%;
    background: linear-gradient(135deg, #0f0c29, #302b63, #ff416c);
    padding: 0;
    margin: 0;
}

.wrapper {
    margin-top: 200px;
    max-width: 400px;
    margin-left: auto;
    margin-right: auto;
    width: 400px;
    border-radius: 15px;
    padding: 40px;
    text-align: center;
    background: linear-gradient(135deg, #C4DBE8, #4598f7);
    backdrop-filter: blur(20px);
    box-shadow: 0px 8px 32px rgba(0, 0, 0, 0.37);
    translate: 0 -100px;
    animation: fadeIn 0.5s ease-in-out forwards;
}

.wrapper.active {
    translate: 0 0;
    animation: fadeIn 0.5s ease-in-out forwards;
    translate: 0 -50px
}

.switch {
    background: none;
    border: none;
    color: #377884;
    font-weight: bold;
    cursor: pointer;
    text-decoration: underline;
    margin-left: 5px;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(10px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}


.login-wrapper:hover {
    box-shadow: 0px 12px 48px rgba(0, 0, 0, 0.5);
}

form {
    display: flex;
    flex-direction: column;
}

form a {
    text-decoration: none;
}

form h2 {
    font-size: 2.2rem;
    margin-bottom: 25px;
    color: #377884;
    letter-spacing: 1px;
}

.input-field {
    position: relative;
    border-bottom: 2px solid rgba(255, 255, 255, 0.3);
    margin-bottom: 20px;
}

.input-field label {
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    color: #4792c4;
    font-size: 16px;
    pointer-events: none;
    transition: all 0.3s ease;
}

.input-field input {
    width: 100%;
    height: 40px;
    background: transparent;
    border: none;
    outline: none;
    font-size: 16px;
    color: #4792c4;
    padding: 0 10px;
}

.input-field input:focus+label,
.input-field input:valid+label {
    font-size: 0.9rem;
    top: 10px;
    transform: translateY(-150%);
    color: #003675;
}

.forget {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px 0 30px 0;
    color: #fff;
}

#remember {
    accent-color: #ffdde1;
    margin-right: 10px;
}


.forget label {
    display: flex;
    align-items: center;
}

.forget label p {
    margin-right: 8px;
}

.wrapper a {
    text-decoration: none;
}

.wrapper a:hover {
    text-decoration: underline;
}

.submit button {
    width: 250px;
    background-color: #003675;
    color: #fff;
    font-weight: 600;
    border: none;
    padding: 15px 20px;
    cursor: pointer;
    border-radius: 25px;
    font-size: 16px;
    transition: all 0.3s ease;
}

button:hover {
    background-color: #2f6a75;
    transform: translateY(-5%);
    box-shadow: 0px 0px 15px #377884;
}

.register {
    text-align: center;
    margin-top: 30px;
    color: #fff;
}

.login{
    text-align: center;
    margin-top: 30px;
    color: #fff;
}