.about-header {
    background-color: rgba(255, 255, 255, 0.384);
    backdrop-filter: blur(8px);
    height: 60px;
    padding: 15px;
    z-index: 10;
    width: 100vw;
    position: fixed;
    top: 0;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.about-header .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100vw;
}

.about-header .logo {
    transform: scale(0.9);
}

.about-header .logo-location {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 10px;
}

.about-header .location {
    display: flex;
    align-items: center;
    gap: 10px;
}

.about-header .location span {
    color: #377884;
    font-size: 1.1rem;
    font-weight: bold;
}

.about-header .location-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 0.8rem;
    color: #444;
    line-height: 1.1;
}

.about-header .search-container {
    width: 20vw;
    background-color: #111;
    border-radius: 25px;
    padding: 10px 15px;
    display: flex;
    align-items: center;
    gap: 10px;
    transition: all 0.5s ease-in-out;
}

.about-header .search-container:hover {
    width: 55vw;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.9);
}

.about-header .search {
    width: 90%;
}

.about-header .search input {
    width: 100%;
    background: transparent;
    border: none;
    outline: none;
    color: white;
    font-weight: bold;
    font-size: 1rem;
}

.about-header .search-container span {
    color: white;
    font-size: 1.2rem;
}

.about-header .menu {
    padding-right: 35px;
}

.about-header .menu svg {
    color: #377884;
    cursor: pointer;
}

.about-location {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
}

.about-location svg {
    color: #377884;
}

.about-location-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    font-weight: 500;
    gap: 5px;
}

.about-location .city {
    font-size: 1.65rem;
    font-weight: 700;
}

.about-location .state {
    font-size: 1.15rem;
}

.about-header .logo a {
    display: inline-block;
    width: 225px;
}

.about-header .sidebar {
    width: 300px;
    height: 100vh;
    position: fixed;
    top: 0;
    right: 0;
    z-index: 15;
    background-color: #222222;
    display: flex;
    gap: 25px;
    flex-direction: column;
    transition: transform 0.35s ease-in-out;
    transform: translateX(200%);
}

.about-header .sidebar.open {
    transform: translateX(0);
}

.about-header .sidebar > div {
    padding-left: 15px;
}

.about-header .sidebar > svg {
    cursor: pointer;
    color: #377884;
}

.about-header .sidebar .sidebar-text {
    color: white;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.about-header .sidebar .logout {
    display: flex;
    align-items: center;
    gap: 10px;
    color: white;
}

.about-header .sidebar .logout svg {
    color: #377884;
}

.about-header .sidebar a {
    color: white;
    text-decoration: none;
}

@media (max-width: 1375px) {
    .about-header {
        height: 120px;
        align-items: start;
        padding: 10px 0px;
    }

    .about-header .container {
        justify-content: space-between;
        padding-left: 10px;
    }

    .about-header .search-wrapper {
        order: 1;
        position: absolute;
        top: 80px;
        width: 100%;
        display: flex;
        justify-content: center;
    }

    .about-header .search-container {
        width: 95%;
        transition: all 0.5s ease-in-out;
        box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.9);
    }

    .about-header .search-container input {
        width: 75vw;
    }

    .about-header .menu {
        padding-right: 10px;
    }

    .about-location {
        gap: 3px;
    }

    .about-location .about-location-text {
        gap: 3px;
    }

    .about-header .logo {
        transform: scale(0.9);
    }

    .about-header .menu {
        width: 225px;
        display: flex;
        align-items: center;
        justify-content: flex-end;
        padding-right: 25px;
    }

    .about-header .menu a {
        width: 55px;
    }

    .about-header .sidebar {
        width: 250px;
    }
}

@media (max-width: 750px) {
    .about-header .search-container {
        width: 90%;
    }

    .about-header .container {
        justify-content: space-between;
    }

    .about-header .sidebar {
        width: 100vw;
    }
}

@media (max-width: 550px) {
    .about-header .search-container {
        width: 85%;
    }
}