.banner-container {
    top: 90px;
    position: relative;
    height: calc(100vh - 90px);
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    margin-bottom: 90px;
    transform: scale(0.95);
    border-radius: 20px;
}

.image {
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: relative;
    z-index: -1;
    border-radius: 20px;
}

.image>div {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100vw;
    height: 100%;
    transform: scale(0.95);
    border-radius: 20px;
}

.slider-track {
    display: flex;
    width: 100%;
    height: 100%;
    transition: transform 0.5s ease-in-out;
}

.slide {
    flex-shrink: 0;
    width: 100vw;
    height: 100%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.banner-icons {
    position: absolute;
    top: 50%;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 90%;
    transform: translateY(-50%);
    color: #2479db;
    z-index: 2;
}

.banner-icons svg {
    cursor: pointer;
    transition: color 0.1s;
}

.banner-icons svg:hover {
    color: #2479db;
}

.button {
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1;
}

.button>button {
    font-size: 1.25rem;
    background-color: #2479db;
    border-radius: 12px;
    padding: 15px 20px;
    border: none;
    cursor: pointer;
    transition-duration: 0.1s;
    transition-timing-function: ease-in-out;
}

.button>button:hover {
    background-color: #2479db;
    transform: translateY(-10%);
    box-shadow: 0px 0px 15px #2479db;
}

.slide {
    display: flex;
    align-items: flex-end;

}

.slide .banner-text {
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.9) 0%, rgba(0, 0, 0, 0.5) 60%, rgba(0, 0, 0, 0.2) 100%);
    box-shadow: 0 -10px 10px rgba(0, 0, 0, 0.2);
    width: 100%;
    color: white;
    padding: 25px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.banner-text .title {
    height: 150px;
    width: 300px;
    background-size: contain;
    background-repeat: no-repeat;
}

.banner-text .details {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 50px;
    gap: 10px;
    overflow: scroll;
}

.banner-text .details .language {
    font-size: 1.5rem;
}

.banner-text .details .genre {
    font-size: 1.25rem;
}

.banner-text .details .rating {
    font-size: 1.25rem;
}

@media (max-width: 1375px) {
    .banner-container {
        top: 140px;
        height: calc(100vh - 140px);
        margin-bottom: 140px;
    }
}

@media (max-width: 1025px) {
    .slide .banner-text {
        padding: 15px;
    }

    .banner-container {
        height: 45vh;
    }

    .banner-icons {
        gap: 78%;
    }

    .banner-text .title {
        height: 75px;
        width: 150px;
    }

    .banner-text .details {
        gap: 5px;
        margin-left: 25px;
    }

    .banner-text .details .language {
        font-size: 1rem;
    }

    .banner-text .details .genre {
        font-size: 0.95rem;
    }

    .banner-text .details .rating {
        font-size: 1rem;
    }
}

@media (max-width: 750px) {
    .banner-container {
        height: 40vh;
    }

    .banner-container .button {
        font-size: 1rem;
    }

    .banner-icons {
        gap: 60%;
    }

    .banner-icons svg {
        transform: scale(0.6);
    }
}

@media (max-width: 460px) {
    .slide .banner-text {
        justify-content: space-between;
    }

    .banner-text .details {
        margin-left: 0px;
        transform: scale(0.75);
    }
}

@media (max-width: 430px) {
    .banner-container {
        height: 35vh;
    }

    .slide .banner-text {
        padding: 0px 10px;
    }
}