footer {
    background-color: #222222;
    min-height: 50vh;
    min-width: 100vw;
    margin-top: 25px;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 30px;
    padding-top: 20px;
}

.footer-top {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 75vw;
    flex-wrap: wrap;
    gap: 25px;
}

.footer-top>div {
    flex: 1 1 30%;
    min-width: 200px;
    max-width: 100%;
}

.footer-top a {
    text-decoration: none;
    color: white;
}

.footer-top h3 {
    position: relative;
    margin-bottom: 5px;
    text-align: center;
}

.footer-top h3::before {
    content: '';
    position: absolute;
    left: calc(50% - 75px);
    bottom: -5px;
    background-color: #377884;
    height: 2px;
    width: 150px;
}

.showtime {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.showtime-links {
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
}

.showtime-links a {
    transition-timing-function: ease-in-out;
    transition-duration: 0.3s;
}

.showtime-links a:hover {
    transform: translateX(10px);
}

.get-help {
    display: flex;
    flex-direction: column;
    gap: 15px;
    align-items: center;
}

.get-help-links {
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
}

.get-help-links a {
    transition-timing-function: ease-in-out;
    transition-duration: 0.3s;
}

.get-help-links a:hover {
    transform: translateX(10px);
}

.follow-us {
    display: flex;
    flex-direction: column;
    gap: 15px;
    align-items: center;
}

.repo {
    display: flex;
    gap: 10px;
}

.repo svg {
    border-radius: 50%;
    transition-timing-function: ease-in-out;
    transition-duration: 0.15s;
}

.repo svg:hover {
    filter: invert(1);
    background-color: black;
    cursor: pointer;
    transform: scale(1.15);
}

.footer-bottom {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border-top: 1px solid white;
    width: 75vw;
    padding: 20px;
    gap: 10px;
}

.footer-bottom>p {
    display: flex;
    align-items: center;
    gap: 5px;
}

.footer-numbers {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.footer-mail {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.footer-rights {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}