.url-header {
    background-color: rgba(255, 255, 255, 0.384);
    backdrop-filter: blur(8px);
    height: 60px;
    padding: 15px;
    z-index: 10;
    width: 100vw;
    position: fixed;
    top: 0;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.url-header .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100vw;
}

.url-header .logo {
    transform: scale(0.9);
}

.url-header .logo-location {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 10px;
}

.url-header .location {
    display: flex;
    align-items: center;
    gap: 10px;
}

.url-header .location span {
    color: #377884;
    font-size: 1.1rem;
    font-weight: bold;
}

.url-header .location-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 0.8rem;
    color: #444;
    line-height: 1.1;
}

/* .url-header .search-container {
    width: 20vw;
    background-color: #111;
    border-radius: 25px;
    padding: 10px 15px;
    display: flex;
    align-items: center;
    gap: 10px;
    transition: all 0.5s ease-in-out;
}

.url-header .search-container:hover {
    width: 48vw;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.9);
}

.url-header .search {
    width: 90%;
}

.url-header .search input {
    width: 100%;
    background: transparent;
    border: none;
    outline: none;
    color: white;
    font-weight: bold;
    font-size: 1rem;
}

.url-header .search-container span {
    color: white;
    font-size: 1.2rem;
} */

.url-header .login-register {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    padding-right: 50px;
}

.url-header .login-register a {
    color: #377884;
}

.url-header .login-register button {
    font-size: 1.25rem;
    background-color: #377884;
    border-radius: 12px;
    padding: 15px 20px;
    border: none;
    cursor: pointer;
    transition-duration: 0.1s;
    transition-timing-function: ease-in-out;
}

.url-header .login-register > button:hover {
    background-color: #2f6a75;
    transform: translateY(-10%);
    box-shadow: 0px 0px 15px #377884;
}

.url-location {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
}

.url-location svg {
    color: #377884;
}

.url-location-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    font-weight: 500;
    gap: 5px;
}

.url-location .city {
    font-size: 1.65rem;
    font-weight: 700;
}

.url-location .state {
    font-size: 1.15rem;
}

.url-header .logo a {
    display: inline-block;
    width: 225px;
}

@media (max-width: 1375px) {
    .url-header {
        height: 120px;
        align-items: start;
        padding: 10px 0px;
    }

    .url-header .container {
        justify-content: space-between;
        padding-left: 10px;
    }

    /* .url-header .search-wrapper {
        order: 1;
        position: absolute;
        top: 80px;
        width: 100%;
        display: flex;
        justify-content: center;
    }

    .url-header .search-container {
        width: 95%;
        transition: all 0.5s ease-in-out;
        box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.9);
    }

    .url-header .search-container input {
        width: 75vw;
    } */

    .url-location {
        gap: 3px;
    }

    .url-location .details-location-text {
        gap: 3px;
    }

    .url-header .logo {
        transform: scale(0.9);
    }
}

@media (max-width: 750px) {
    /* .url-header .search-container {
        width: 90%;
    } */

    .url-header .container {
        justify-content: space-between;
    }
}

@media (max-width: 550px) {
    /* .url-header .search-container {
        width: 85%;
    } */
}