.pop-up-container {
    backdrop-filter: blur(8px);
    background-color: rgba(255, 255, 255, 0.938);
    top: 20vh;
    left: 35vw;
    width: 29vw;
    height: 465px;
    padding: 10px;
    position: absolute;
    z-index: 1;
    border-radius: 15px;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.9);
    display: flex;
    flex-direction: column;
    animation: fadeIn 0.5s ease-in-out forwards;
}

@keyframes fadeIn {
    from {
        display: none;
        opacity: 0;
        transform: translateY(5px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.pop-up-container.hidden {
    animation: fadeOut 0.5s ease-in-out forwards;
}

@keyframes fadeOut {
    from {
        opacity: 1;
        transform: translateY(0);
    }
    to {
        opacity: 0;
        display: none;
        transform: translateY(5px);
    }
}

.location-div {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    width: 100%;
    padding: 5px;
}

.location-div h2 {
    color: #377884;
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 5px;
}

.location-div p {
    color: #000000;
    font-size: 1rem;
    margin-bottom: 10px;
}

.location-div .location-input {
    width: 80%;
    padding: 10px;
    border-radius: 10px;
    border: none;
    font-size: 1rem;
    color: #000000;
    background-color: rgba(255, 255, 255, 0.8);
    display: flex;
}

.location-input input {
    width: 90%;
    padding: 10px;
    border-radius: 10px;
    border: none;
    outline: none;
    font-size: 1.1rem;
    font-weight: 500;
    color: #000000;
    background-color: rgba(255, 255, 255, 0.8);
}

.location-input button {
    padding: 5px;
    border-radius: 10px;
    border: none;
    outline: none;
    font-size: 0.9rem;
    color: #ffffff;
    background-color: #377884;
    cursor: pointer;
    margin-left: 10px;
    transition: all 0.3s ease;
}

.location-input input:focus,
.location-input input:valid {
    border-bottom: 2px solid #377884;
}

.location-list {
    width: 80%;
    padding: 15px;
    overflow-y: auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 10px;
}

.location-list div{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    max-width: 120px;
    max-height: 50px;
    border-radius: 10px;
    background-color: #377884;
    color: #ffffff ;
    font-weight: 400;
    font-size: 1.1rem
}

.location-list div:hover {
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.9);
    translate: 0px -2px 5px;
    transition: all 0.3s ease;
    cursor: pointer;
}

.close-button{
    position: absolute;
    top: 10px;
    right: 10px;
    background-color: transparent;
    border: none;
    font-size: 1.5rem;
    color: #377884;
    cursor: pointer;
}

.language-div{
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    width: 100%;
}

.language-div h2 {
    color: #377884;
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 5px;
}

.language-div .language-input {
    width: 80%;
    padding: 10px;
    border-radius: 10px;
    border: none;
    font-size: 1rem;
    color: #000000;
    background-color: rgba(255, 255, 255, 0.8);
    display: flex;
}

.language-input input {
    width: 90%;
    padding: 10px;
    border-radius: 10px;
    border: none;
    outline: none;
    font-size: 1.1rem;
    font-weight: 500;
    color: #000000;
    background-color: rgba(255, 255, 255, 0.8);
}

.language-input button {
    padding: 5px;
    border-radius: 10px;
    border: none;
    outline: none;
    font-size: 0.9rem;
    color: #ffffff;
    background-color: #377884;
    cursor: pointer;
    margin-left: 10px;
    transition: all 0.3s ease;
}

.language-input input:focus,
.language-input input:valid {
    border-bottom: 2px solid #377884;
}

.language-list {
    width: 80%;
    padding: 15px;
    overflow-y: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    gap: 10px;
}

.language-list div{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 10px;
    max-height: 60px;
    border-radius: 10px;
    background-color: #377884;
    color: #ffffff ;
    font-weight: 400;
    font-size: 1.2rem;
}

.language-list div:hover {
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.9);
    translate: 0px -2px 5px;
    transition: all 0.3s ease;
    cursor: pointer;
}